header {
  background-color: #b48484;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 220px;
  right: 0px;
  overflow: hidden;
}

#subtitle   {
  font-size: 12px;
  bottom: 20px;
  margin-left: 10px;
}

h2 {
  margin-left: 10px;
}

img {
  width: 25%;
  height: auto;
  margin: 10px;
}

body {
  font-family: "Open Sans";
  margin: 10px;
}

#wrapper {
  font-family: Open Sans;
  position: absolute;
  top: 220px;
  left: 0px;
  right: 0px;
  overflow: auto;
}

#buttons-div {
  position: absolute;
  top: 180px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  padding-top: 15px;
  display: inline-block;
  position: relative;
  margin: 5px;
  padding: 5px;
  background: #E93C2C;
}

li:hover {
  background: #F18076;
}
